* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

img {
    max-width: 100%;
}

.main {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;

}

.title h1 {
    color: #000;

    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title p {
    color: #707070;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.spen {
    display: flex;
    flex-direction: column;
}

.sec {
    display: flex;
    justify-content: center;
    gap: 117px;
}


.function {
    padding-top: 55px;
    display: flex;
    justify-content: center;
    gap: 54px;
}

.elem {
    display: flex;
    gap: 5px;
}

.elem button {
    border-style: none;
    margin-left: 5px;
    background-color: #fff;
}

.item p {
    color: #707070;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.item h1 {
    color: #000;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ckeckit {
    padding-left: 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ckeckit p {
    padding-bottom: 15px;
    color: #707070;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s ease;
}


input:checked[type="checkbox"] {
    background-color: rgb(0, 77, 255);
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

input:checked[type="checkbox"]:before {
    left: 40px;
}

.checkit {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img {
    position: absolute;
    top: 250px;
    left: 635px;
    display: flex;
    gap: 370px;
    width: 130px;
    
    
}

.diski-img {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.img1 {
    position: absolute;
    top: 250px;
    left: 635px;
    display: flex;
    gap: 370px;
    width: 130px;
    display: none;

}

.bg-modal {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 300px;
    display: none;
}

.function-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 54px;
}

.function-modal p {
    padding: 20px 0px 20px;
    color: #707070;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.function-modal button {
    width: 50px;
    gap: 20px;
    border-radius: 50%;
    height: 50px;
    border-style: none;

}

.btn-elem {
    display: block;
}

.main_car {
    width: 1240px;
    height: 697px;
    transition: .5s ease;
}

.btn-modal {
    background-color: rgb(38, 38, 38);
    overflow: hidden;
}

.btn-modal1 {
    background-color: rgb(239, 239, 239);
}

.btn-modal2 {
    background-color: rgb(230, 221, 208);
}

.main1 {
    display: flex;
    justify-content: center;
    padding: 0 0 25px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}